$myRed: red;
$circleHeight:200px;
$circleWidth:200px;
$myWidth:960px;
$myHeight: 300px;

@mixin border{
    border: 1px solid red;
    border-radius: 50%;
}
.circle{
    background-color: $myRed;
    width: $circleHeight;
    height: $circleWidth;
    @include border;
}
.container{
    width: $myWidth;
    height: $myHeight;
}